{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

{% include "navbar.html" %}

<div class="box">

    <h2>👤 My Profile</h2>

    {% if success_msg %}
        <p class="msg">{{ success_msg }}</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <label>Username</label>
        <input type="text" name="username" value="{{ user.username }}">
        <div class="error">{{ username_error }}</div>
        
        <label>Email</label>
        <input type="email" name="email" value="{{ user.email }}" readonly>

        <label>mobile number</label>
        <input type="text" name="mobile_number" value="{{ user.mobile_number }}">
        <div class="error">{{ mobile_number_error }}</div>

        <label>Address</label>
        <textarea name="address">{{ user.address }}</textarea>

        <label>Old Password</label>
        <input type="password" name="old_password">
        <div class="error">{{ old_password_error }}</div>

        <label>New Password</label>
        <input type="password" name="new_password">

        <label>Confirm Password</label>
        <input type="password" name="confirm_password">
        <div class="error">{{ password_error }}</div>

        <button type="submit" class="btn">Update Profile</button>

    </form>

</div>

</body>
</html>
